/*博客正文容器*/

.blog-content{
    padding: 30px;
    line-height: 2em;
}
/*博客标题*/
.blog-content h3{
    text-align: center;
    padding: 20px 0;
}
/*博客日期*/
.blog-content .date{
    color:#008000;
    padding: 10px 0;
    text-align: center;
}
/*博客内容段落*/
.blog-content p{
    text-indent: 2em;
    padding: 10px 0;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
/*    去掉填充物*/
}
html,body{
    height: 100%;
    background-image:url("../img/背景.jpg") ;
    background-position:center center ;
    /*居中*/
    background-size:cover;
    /*全覆盖*/
    background-repeat:no-repeat;
    /*无重复*/
}
.nav{
    z-index:999;
    position: fixed;
    /*导航栏设置*/
    width:100%;
    height:6%;
    background-color:aliceblue;
    box-shadow: 1px 1px 10px 0.1px rgb(154, 154, 154);
    /*字体为白色*/
     display:flex;
    /*弹性布局*/
    justify-content: left;
    align-items: center;
    /*平向左，居中对齐*/
}
.nav img{
    /*图片设置*/
    /*规定图片大小时，尽量只规定高或者宽，这样图片不会被拉伸变形*/
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.nav .spacer{
    width: 70%;
    /*把空格撑开*/
}
.form-group {
    position: relative;
    left : 10% ;
    top:10%;
}
.form-control_title {
    height: 3%;
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 1.3vh;
    /* padding: 4% 4%; */
    width: 80%;
    font-size: 100%;
    text-align: center;
    font-family: "Microsoft soft";
    box-shadow: inset 1px 1px 1px rgba(204, 197, 197,.5),
    inset -2px -2px 2px rgba(204, 197, 197,.5);
}
.a1 {
    color: #000000;
    border-radius: 1vh;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: #dce1e6;
}

.a1:active {
    background-color: #bec3c6;
}
.btn-primary {
    width: 5%;
    height: 80%;
    background-color: #00620b; /* Green */
    position: absolute;
    right:4%;
    border-radius: 1.2vh;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #00800f;
    color: white;
}
.btn-delete {
    width: 5%;
    height: 80%;
    background-color: #cb0000; /* Green */
    position: absolute;
    right:4%;
    border-radius: 1.2vh;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-delete:hover {
    background-color: #ff0000;
    color: white;
}
.btn-up {
    width: 5%;
    height: 80%;
    background-color: #d8d102; /* Green */
    position: absolute;
    right:4%;
    border-radius: 1.2vh;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-up:hover {
    background-color: #e1dd01;
    color: white;
}
.form-control_text {
    border:0;
    ;background-color:rgba(251, 251, 251, 0.98);
    padding: 10px;resize: none;
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 1.3vh;
    /* padding: 4% 4%; */
    width: 83%;
    font-size: 100%;
    font-family: "Microsoft soft";
    box-shadow: inset 1px 1px 1px rgba(204, 197, 197,.5),
    inset -2px -2px 2px rgba(204, 197, 197,.5);
}
.nav a{
    /*a标签设置*/
    color:#fff;
    /*标签颜色：白色*/
    text-decoration: none;
    /*文本装饰：无*/
    padding: 0 10px;
    /*左右空开10像素*/
}
.container{
    position: relative;
    top:10%;
    height: calc(90% - 50px);
    
    width:100%;
    margin: 0 auto;
    /*居中*/
    justify-content: space-between;
    /*两端没空隙*/
    /*水平上按分割的方式对齐*/
    align-items: center;
    /*垂直对齐*/
}
.container-left{
    height:100%;
    width:25%;
}
.col-12 {
    /* height: 80%;
    width:70%;
    box-shadow: 1px 1px 10px 0.1px rgb(154, 154, 154);
    overflow: auto;
    background-color:rgba(255,255,255,.8);
    border-radius: 10px;
     position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%; */
}
.container-right{
    height: 100%;
    width:70%;
    box-shadow: 1px 1px 10px 0.1px rgb(154, 154, 154);
    /*当内容超过外部容器的高度时，怎么办？auto：没超过时正常显示，超出时，出现滚动条*/
    overflow: auto;
    background-color:rgba(255,255,255,.8);
    border-radius: 10px;
}
.card{
    background-color:rgba(255,255,255,.8);
    border-radius:10px;
    padding: 30px;
}
.card .avatar{
    width: 50%;
    position: relative;
    top: 30%;
    left: 25%;
    border-radius: 50%;
    box-shadow: #000000;
}
.card h3{
    text-align: center;
    padding: 30px;
}
.card a{
    display: block;
    /*强制改为块元素，可以设置宽高*/
    text-align: center;
    color: #999;
    text-decoration: none;
    padding: 10px;
}
.card .counter{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    /*两边有空隙*/
}
.django-ckeditor-widget{
    position: absolute;
    width: 200%;
    height: 100%;
   
}

.container_body {
    position: relative;
    top:-40%;
    float: left;
    overflow: auto;
    height: 110%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    left:10%;
    border-radius: 1vh;
    width: 60%;
}
.container_info {
    position: relative;
    float: left;
    min-height: 50%;
    background-color: rgb(255, 255, 255);
    left: 3%;
    border-radius: 1vh;
    width: 25%;
}
.container_body::-webkit-scrollbar {
    width : 5px; 
    height: 1px;
}
.container_body::-webkit-scrollbar-thumb {
    transition-duration: 200ms;
    border-radius: 10px;
    transition: all 200ms ease-in-out 0s;
    background   : #dbdbdb;
 }
 .container_body::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    transition: all 200ms ease-in-out 0s;
    background   : gray;
 }
 .user_info {
    position: relative;
    top: 20%;
    left:30%;
 }
 .user_avatar {
    position: relative;
    border-radius: 50%;
    height:125px;
    width: 125px;
}
.userinfo_btn {
    text-decoration:none;
    transition-duration: 100ms;
    transition: all 200ms ease-in-out 0;
    color: #c5b9ff;
    position: relative;
    left:40%;
    border-style: solid;
    border-color: #9f8bff;
    border-radius: 5vh ;
    border-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px ;
    padding-right: 15px;
}
.userinfo_btn:hover {
    text-decoration:none;
    transition: all 200ms ease-in-out 0;
    color: #c5b9ff;
    position: relative;
    left:40%;
    background-color: #9f8bff;
    color: white;
}
@keyframes appear_ani_1 {
    from {opacity: 0;}
    to {opacity: 1.0;}
}
.content {
    background-color: rgb(255, 255, 255);
    position: relative;
    float: left;
    border-radius: 1vh;
    left: -22%; /* 这里的 -22% 是本来的左边距 3% 减去上一个div的宽度 25% 得来的*/
    width: 25%;
    height: 40%;
    padding: 10px;
    top:60%;
}
.content_toc {
    overflow-y: auto;
    height: 70%;
    line-height:20px;
}
.content_toc a{
    display: block;
    transition: all 100ms ease-in-out 0s;
    color: gray;
    position: relative;
    width: 90%;
    margin: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3px;
    border-radius:1vh ;
}
.content_toc a:hover {
    background-color: rgb(223, 226, 255);
    text-decoration: none;
}
.content_toc::-webkit-scrollbar {
    width : 5px; 
    height: 1px;
}
.content_toc::-webkit-scrollbar-thumb {
    transition-duration: 200ms;
    border-radius: 10px;
    transition: all 200ms ease-in-out 0s;
    background   : #dbdbdb;
 }
 .content_toc::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    transition: all 200ms ease-in-out 0s;
    background   : gray;
 }
 .comment {
    position:relative;
    transition: all 700ms ease-in-out 0s;
    overflow: hidden;
    background-color: white;
    float: left;
    border-radius:1vh ;
    top:-10%;
    width: 60%;
    height: 240px;
    left: 35%;
}
.comment:hover {
   height: 400px;
}
.submit_btn {
    transition-duration: 100ms;
    transition: all 200ms ease-in-out 0;
    background-color: #d0c7ff;
    color: #606bff;
    border-radius: 100vh;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:25px ;
    padding-right: 25px;

 }
 .submit_btn:hover {
    background-color: #606bff;
    color: white;
 }
 .comment_list {
    position: relative;
    top:0;
    background-color: rgb(236, 235, 255);
    transition-duration: 200ms;
    transition: all 200ms ease-in-out 0;
    height: 400px;
    overflow: hidden;
 }
 .comment_list:hover {
    position: relative;
    top:-200;
    overflow-y: auto;
 }
 .comment_list::-webkit-scrollbar {
    width : 5px; 
    height: 1px;
}
.comment_list::-webkit-scrollbar-thumb {
    transition-duration: 200ms;
    border-radius: 10px;
    transition: all 200ms ease-in-out 0s;
    background   : #dbdbdb;
 }
 .comment_list::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    transition: all 200ms ease-in-out 0s;
    background   : gray;
 }
 .editor_container {
    position:relative;
    background-color: white;
    left: 10%;
    top:10%;
    border-radius: 1vh;
    height: 80%;
    width: 80%;
 }
 .form-control_input{
    background-color: rgb(240, 240, 246);
    transition: all 400ms ease-in-out 0s;
    padding: 10px;
    border-radius: 100vh;
    border: none;
    outline-color:white;
 }
 .form-control_input:focus{
    outline-color: #c4b8ff;
    outline-width: 0.2px;
 }
 .form-group_cover button{
    transition-duration: 100ms;
    transition: all 200ms ease-in-out 0;
    background-color: #d0c7ff;
    color: #606bff;
    border-radius: 100vh;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:25px ;
    padding-right: 25px;
 }
 .update_btn{
    position: relative;
    width: 30px;
    height: 30px;
    left: 85%;
    background-image: url("/static/image/article_edit.png");
 }
 .delete_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 90%;
 }
 .update_ico{
    transition-duration: 100ms;
    transition: all 100ms ease-in-out 0;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 20vh;
 }
 .update_ico:hover{
    content: url("/static/image/article_edit/article_edit2.png");
    background-color: #d1d9ff;
 }
 .delete_ico{
    position: relative;
    transition-duration: 100ms;
    transition: all 100ms ease-in-out 0;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 20vh;
 }
 .delete_ico:hover{
    content: url("/static/image/article_del/article_del2.png");
    background-color: #ff9d9d;
 }
a:hover{text-decoration: none;}