{% load static %}
<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>
 
<body style="margin: 0">
    <div id = "main_page_1", class = "main_page_1">
        <div id = "main_page_1_title" class="main_page_1_title">
            <br>
        </div>
        <div id = "main_page_1_menu" class = "main_page_1_menu">
            <div class="main_page_1_menu_title" class = "main_page_1_layout"><nobr>Welcome to ecodeblogs system!</nobr></div>
            <div id = "Main_page_01" class="main_page_1_layout">
                </div>
            <script type="module">
                import {Main_page_1_menu} from "{% static 'js/src/main_page/main_page_1_menu.js'%}"; 
                $(document).ready(function(){
                    let main_page_1_menu = new Main_page_1_menu("Main_page_01");
                });
            </script>
        </div>
        <div class = "main_page_2"> 
        <div class="main_page_1_articles_item">
        {% for article in articles %} 
            <h1 class="main_page_1_articles_tag"> {{ article.title }}<br> uid : {{article.uid}} </h1>
        {% endfor %}
        </div>
    </div>
    </div>
    
</body>