{% load static %}
<head>
    <link rel = "icon" href="/static/image/icon/ecodelab_ico.png">

    <link rel="stylesheet" href="{% static 'css/monokai.css' %}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>

    <link rel="stylesheet" href="{% static 'css/article.css' %}">
    
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          extensions: ["tex2jax.js"],
          jax: ["input/TeX", "output/HTML-CSS"],
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
          },
          "HTML-CSS": { fonts: ["TeX"] }
        });
      </script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script>
</head>
{% block content %}
<body style="margin: 0; background-color:rgb(237, 239, 244);height: 180%;">
<div class="element_set_1" style="position:relative; overflow-y:visible; height: 55.6%; margin: 0;background-color:rgb(237, 239, 244);">
    <div class="nav">
        <a href="/" style="color: black;"><img src = "/static/logo/LOGO.png" style="position:relative;top:0px;width: 150px;height:30px;"></a>
        <a href="/article/article_create/"><button style = "top:8% ;font-size:100%;" class="btn-primary"> <b style="font-size:175%;">+</b> New </button> </a>
        <form 
            style="display:none;" 
            id="safe_delete"
            action="/article/article_delete/{{article.uid}}"
            method="POST"
        >
        {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
        <script>
            // 删除文章的函数
            function confirm_delete() {
                console.log("clk");
                // 调用layer弹窗组件
                layer.open({
                    // 弹窗标题
                    title: "Convince delete",
                    // 正文
                    content: "Are you sure delete this article?",
                    btn: ['Delete'],
                    // 点击确定按钮后调用的回调函数
                    yes: function(index, layero) {
                        $('form#safe_delete button').click();
                        
                    },
                })
            }
        </script>
    </div>
    <div class="container" style="">
        <div class="container_info">
            <div class = "user_info">
                <br><br>
                <img src="{{user.photo.url}}" alt="photo" class="user_avatar">
                <br>
            </div>
            <h2 class="mt-4 mb-4" align="center"><strong>{{ user.open_name }}</strong></h2>
            <div>
                <br>
                <a href = "/user/homepage/{{user.uid}}/all/"class="userinfo_btn"  text-decoration = "none">More</a>
            </div>
        </div>
        <div class = "content">
            <h4 style="position: relative;top:0;color: #9f8bff;"> <strong>Content</strong></h2>
                <hr>
            <div class="content_toc">
                {{ toc|safe }}
            </div>
        </div>
        <div class="container_body">
            <br>
            {{delete|safe}}
            {{updated|safe}}

            <div class="date" style=""><b style="color:#b9bfff;margin:2%;background-color:#e8e8ff; width: 50%; border-radius: 5vh;padding: 0.7em;text-align: center;">{{catagories}}</b></div>
            
            <br>
            <h3 style = "text-align: center;">{{ article.title }}</h3>
            <br>
            <div style = "margin: 5%; ">    
                <p>{{ article.body|safe }}</p>
            </div>
        </div>
    </div>
</div>
<div class="element_set_2" style="position: relative;top:-6%;height: 40%;"> 
    <div class="container">
        <div class="comment">
            {% if request.user.is_authenticated %}
                <div style="position:relative;height:200px;">
                    <form 
                        action="/comment/post-comment/{{article.uid}}" 
                        method="POST"
                    >
                        {% csrf_token %}
                        <br>
                        <div class="form-group">
                            <div>
                                {{ comment_form.media }}
                                {{ comment_form.body }}
                            </div>
                        </div>
                        <!-- 提交按钮 -->
                            
                        <button type="submit" class="submit_btn" style="position:relative;left:85%;"><strong>+</strong> Post</button>                  
                    </form>
                    <br>
                    <br>
                    <!-- <HR style="background-color : rgb(103, 103, 103); position:absolute; left: 7% ;height: 1.2px;" width="90%" > -->
                </div>
            
                {% else %}
                <br>
                <h2 class="row justify-content-center" align="center">
                    Please reply after <a href="/login">login</a>
                </h2>
                <br>
            {% endif %}
            {% if request.user.is_authenticated %}
            
            <div class="comment_list">
                {% for comment in comments %}
                    <hr style="opacity: 0.5;">
                    <!-- <hr style="position:absolute;border:none;background-color : rgb(194, 194, 194); width: 80% ;left:10%;height: 1px;" > -->
                    <p>
                        <strong style="color: rgb(0, 0, 0)">
                            &nbsp&nbsp&nbsp&nbsp
                            <img src="{{comment.user.blogs_user.photo.url}}" style="width: 55px;height:55px;border-radius:100vh;">
                            &nbsp&nbsp&nbsp
                            {{ comment.user.blogs_user.open_name }}
                        </strong> 
                    </p>
                    <br>
                    <pre style="position: relative; font-family: inherit; font-size: 1em;left: 10%;width: 70%;">
                {{ comment.body|safe }}</pre>
                <span style="color: rgb(147, 147, 147)">
                    &nbsp&nbsp&nbsp&nbsp
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> 
                <br>
        {% endfor %}
        <h5 style="color:#8f8bff ;"><strong>No More Comment...</strong></h5>
        </div>

        {% endif %}
        </div>
    </div>
</div>
</body>
{% endblock content %}